.checkbox-table {
  display: table;
  font-size: 1.125rem;
  width: 100%;
}

.checkbox-table__header {
  background: #eee;
  display: table-header-group;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.checkbox-table__row {
  display: table-row;
}

.checkbox-table__col {
  border-bottom: 1px solid #ddd;
  display: table-cell;
  padding: 8px;
}

.checkbox-table__col:first-child {
  padding: 8px 16px;
  text-align: center;
  width: 20px;
}

.checkbox-table__col:nth-child(2) {
  width: 56px;
}
