.form__row {
  margin-bottom: 24px;
}

.form__label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.form__input-text,
.form__input-textarea {
  border: 1px solid $color-primary;
  border-radius: $global-radius;
  display: block;
  padding: 8px 16px;
  width: 100%;
}

.form__input-textarea {
  min-height: 100px;
}
