@import "../../styles/utilities";

.button {
  appearance: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: $global-radius;
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  padding: 10px 24px 12px;
  text-decoration: none;
  text-align: center;
  min-width: 100px;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button--primary {
  background: $color-primary;
  color: #fff;

  &:hover,
  &:focus {
    background-color: darken($color-primary, 4%);
  }
}

.button--accent {
  background: $color-accent;
  color: $color-primary;

  &:hover,
  &:focus {
    background-color: darken($color-accent, 10%);
  }
}

$darkerPrimary: darken($color-primary, 10%);

.button--ghost {
  border-color: $color-primary;
  color: $color-primary;

  &:hover,
  &:focus {
    background-color: #f7f7f7;
  }
}

.button--ghost-white {
  background: transparent;
  border-color: #fff;
  color: #fff;

  &:hover,
  &:focus {
    background-color: rgba($darkerPrimary, 0.75);
  }
}
