.site-container {
  min-height: 100vh;
}

.main {
  padding: 72px 80px 80px;
  margin-left: 320px;
}

.sidebar {
  background-color: $color-primary;
  height: 100vh;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  width: 320px;
}
