.product-card {
  display: block;
  border-radius: $global-radius;
  box-shadow: 0 8px 24px 0 rgba(#000, 0.08);
  padding: 16px;
  margin-bottom: 40px;
  text-decoration: none;
}

.product-card__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.product-card__copy {
  font-size: 1.125;
  margin-bottom: 16px;
}

.product-card__price {
  font-size: 1.25rem;
}
