@import "../../styles/utilities";

.product-detail {
  margin-bottom: 24px;
  padding-top: 72px;
}

.product-detail__separator {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 64px 0;
}

.product-detail__heading {
  margin-bottom: 8px;
}

.product-detail__id {
  color: #888;
  font-size: 1rem;
}

.product-detail__price {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.product-detail__description {
  font-size: 1.125rem;
}
