$color-primary: #314558;
$color-accent: #ffc831;
$color-white: #fff;

$global-radius: 4px;

$font-standard: "Barlow", sans-serif;

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1200px;
