.site-container {
  min-height: 100vh;
  min-width: 768px;
}

.main {
  margin-left: 280px;
  max-width: calc(960px + 24px);
  padding: 72px 24px 80px 40px;

  @include bp-large {
    margin-left: 320px;
    padding: 72px 24px 80px 80px;
  }
}

.sidebar {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  width: 280px;

  @include bp-large {
    width: 320px;
  }
}
